body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#legs-container {
    margin-top: 20px;
}

.vertical-line {
    position: relative;
    display: inline-block;
    border-left: 2px solid #333;
    height: 150px; /* Adjust the height as needed */
}

.horizontal-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

.thing-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    font-weight: bold;
}
